@import './global.css';

body {
  font-family: sans-serif;
  font-size: 14px;
  color: #222;
  overflow-x: hidden;
}

.flex-layout {
  display: flex;
  height: 100%;
}

.canvas-view {
  height: 100%;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.sensor-list {
  overflow-y: scroll;
  width: 200px;
  padding: 4px;
  background: #222;
}

.sensor-item {
  cursor: pointer;
  margin: 4px 0;
  width: 100%;
  height: 150px;
  background: #111;
  border: 4px solid transparent;
  padding: 4px;
  color: #aaa;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.temperature-box {
  width: 32px;
  height: 32px;
  margin: 8px 0;
}

.sensor-item-temperature {
  margin-bottom: 8px;
}

.sensor-name {
  color: #eee;
}

.sensor-item:hover {
  background: #333;
}

.sensor-item.selected {
  border: 4px solid #eb4d4b;
}

.scene-sensor-label {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  font-size: 12px;
  color: white;
  padding: 4px;
}

.scene-controls {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px;
}

.scene-controls-buttons {
  display: flex;
}

.scene-control-btn {
  cursor: pointer;
  border: 1px solid transparent;
  background: gray;
  margin: 2px;
  outline: none;
  font-size: 12px;
  padding: 4px;
}

.scene-control-btn.selected {
  background: #eb4d4b;
  color: white;
}

.scene-control-mode {
  color: white;
  font-size: 11px;
  pointer-events: none;
}

.sensor-item-body {
  pointer-events: none;
  font-size: 10px;
}

.sensor-item-head {
  display: flex;
  justify-content: space-between;
}

.btn-delete-sensor-item {
  font-size: 11px;
}

.btn-delete-sensor-item,
.btn-sensor-detail {
  cursor: pointer;
  border: 1px solid transparent;
  background: gray;
  outline: none;
  font-size: 12px;
  padding: 4px;
}

.heatmap-color {
  bottom: 0;
  left: 50%;
  position: absolute;
  width: 80%;
  transform: translateX(-50%);
  padding: 6px;
}

.heatmap {
  position: relative;
  background: linear-gradient(to right, hsl(210, 100%, 50%), hsl(360, 100%, 50%));
  height: 10px;
}

.toggles {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
  color: white;
  padding: 4px;
  display: flex;
  flex-direction: column;
}

.toggle-btns {
  display: flex;
  flex-direction: column;
}

.btn-toggle {
  cursor: pointer;
  border: 1px solid transparent;
  background: gray;
  margin: 2px;
  outline: none;
  font-size: 12px;
  padding: 4px;
}

.btn-toggle.selected {
  background: #eb4d4b;
  color: white;
}

.wasd {
  width: 100px;
  position: absolute;
  bottom: 30px;
  right: 8px;
  display: none;
}

.main-container {
  transition: transform 0.4s ease-in-out;
}

.main-container.offsetted {
  transform: translateX(-320px);
}

.offset-container {
  position: absolute;
  left: 100vw;
  top: 0;
  background: #222;
  width: 320px;
  height: 100vh;
  padding: 8px;
}

.offset-container-head {
  display: flex;
  justify-content: space-between;
}

.offset-close {
  cursor: pointer;
  border: 1px solid transparent;
  background: gray;
  outline: none;
  font-size: 12px;
  padding: 4px;
}

.offset-container-body {
  color: gray;
}

.offset-sensor-name {
  color: white;
  font-weight: bold;
}

.offset-sensor-heading {
  color: white;
}